.searchForm{
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 16px;
  margin: 28px auto;
  color: var(--text-secondary);
}

@media(max-width: 700px) {
  .searchForm{
    flex-direction: column;
  }
}