.button {
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  border: none;

  transition-duration: 0.3s;

  &:not(:disabled) {
    &:hover {
      background-color: whitesmoke;
      color: black;
  }

    &:active {
      scale: 1.05;
  }
}
}

.discoverButton{
  width: 100%;
}

.burgerButton{
  position: relative;
  all:unset;


  width: 80px;
  height: 65px;

  svg{
    color: var(--yellow-55);
  }

  &:hover svg{
    color: var(--yellow-80);
  }

  &:active {
    scale: 1.1;
  }
}