body{
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;/* */
  border: 0;
  margin: 0;

  background-color: dimgray;
}

body.white{
  background-color: floralwhite;
}
ul {
  padding-inline: 0;
}

li {
  list-style: none;
}

.title{
  font-weight:700 ;
}
