.searchList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(20px, 30px,35px);
  padding: 0 18px;
  justify-items: center;
}

.searchEmptyMessage{
  color: var(--text-primary);
  text-align: center;
  padding-block: 100px;
  font-size: 50px;
  font-weight: 700;

}


@media (max-width: 700px) {
  .searchList{
    grid-template-columns: 1fr;
  }
}